/* BASIC STYLES HERE */

.car{
  position: relative;
}

.car p{
  position: absolute;
  bottom: 5%;
  font-size: x-large;
  color: bisque;
  filter: drop-shadow(0 0 15px rgba(250, 128, 114, 0.691));
  left: 1rem;
  user-select: none;
}